<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="card-title">Members</h4>
            <p class="card-description">
              Add new member to <b>User Group</b>
            </p>
            <!-- Search form -->
            <form class="forms-sample" [formGroup]="searchForm">
              <div class="form-group">
                <input type="text" formControlName="term" class="form-control" name="term" id="term" placeholder="Search for a user">
              </div>
              <button type="button" class="btn btn-success mr-2" (click)="onSearch()">Search</button>
            </form>
          </div>
        </div>
    </div>
    <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
              <div class="card-body">
                <h4 class="card-title">Users</h4>
                <p class="card-description">
                  Search for user by username
                </p>
                <button type="button" class="btn btn-success mr-2" (click)="onJoin()">Join selected users</button>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          User
                        </th>
                        <th>
                          First name
                        </th>
                        <th>
                          Username
                        </th>
                        <th>
                          Email
                        </th>
                        <!--<th>
                          Deadline
                        </th>-->
                      </tr>
                    </thead>
                    <tbody *ngIf="users">
                      <tr *ngFor="let user of users">
                        <td>
                          <input type="checkbox" (click)="onSelect(user)">
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>    
  </div>
  <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
            <div class="card-body">
              <h4 class="card-title">Existing Members</h4>
              <p class="card-description">
                Members with access to <b>Users Group</b>
              </p>
              <button type="button" class="btn btn-success mr-2" (click)="onSave()">Save</button>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Username
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="joined_members">
                    <tr *ngFor="let member of joined_members">
                      <td>{{ member.name }}</td>
                      <td>{{ member.username }}</td>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </div>
              </div>
          </div>
      </div>    
</div>
</div>